.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #60a3bc;
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: 10px;
	transition: all 0.4s ease 0s;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.checkbox * {
	padding: 0;
	margin: 0;
}

.checkbox {
	border: 1px solid #000;

	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #515151), color-stop(100%, #373737));
	background: -webkit-linear-gradient(top, #515151, #373737);
	background: -moz-linear-gradient(top, #515151, #373737);
	background: -o-linear-gradient(top, #515151, #373737);
	background: -ms-linear-gradient(top, #515151, #373737);
	background: linear-gradient(top, #515151, #373737);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.37), 0 6px 18px black;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.37), 0 6px 18px black;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.37), 0 6px 18px black;
}
.checkbox > div {
	border: 1px solid #000;
	border-radius: 3px;
	background: #fcfcfc;
	box-shadow: 0 0 5px #000 inset;
}
.checkbox li {
	border-bottom: 1px solid grey;
	border-top: 1px solid #fff;
	list-style: none;
	padding: 5px;
	cursor: pointer;
}
.checkbox li:hover {
	background: rgba(70, 165, 70, 0.1);
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}
.checkbox li:last-child {
	border-bottom: 0;
}
.checkbox li:first-child {
	border-top: 0;
}
.checkbox li:before {
	float: left;
	width: 5px;
	margin: 0 25px 0 5px;
	content: "✘";
	color: red;
	left: -2px;
}
.checkbox li.check:before {
	content: "✔";
	color: #46A546;
}

.checkbox li:after {
	float: right;
	width: 5px;
	margin: 0 25px 0 5px;
	content: "DEL";
	color: red;
	left: -2px;
}

